<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Listing Type</th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
    <% @recipients_list.recipients.each_with_index do |recipient, id| %>
      <tr>
        <th scope="row"><%= id + 1 %></th>
        <td><%= recipient.name %></td>
        <td><%= recipient.email %></td>
        <td><%= recipients_listing_types[id].listing_type %></td>
        <td><%= link_to 'remove recipient from list', recipients_recipients_list_path(recipients_listing_types[id].id), method: :delete, data: {confirm: "Are you Sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
