<p id="notice"><%= notice %></p>

<h1>Recipients Lists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of recipients in list</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients_lists.each do |recipients_list| %>
      <tr>
        <td><%= recipients_list.name %></td>
        <td><%= recipients_list.recipients.size %></td>
        <td><%= link_to 'Show', recipients_list %></td>
        <td><%= link_to 'Change List Name', edit_recipients_list_path(recipients_list) %></td>
        <td><%= link_to 'Delete List', recipients_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipients List', new_recipients_list_path %>
