<p>
  <strong>Name:</strong>
  <%= @recipients_list.name %>
</p>

<p>
  <strong>List Recipients:</strong>
</p>

<%= render 'recipients_form', recipients_listing_types: @recipients_list.recipients_recipients_lists %>
<%= link_to 'Add new recipient to list', new_recipients_recipients_list_path(@recipients_list)%>
<%= link_to 'Edit', edit_recipients_list_path(@recipients_list) %> |
<%= link_to 'Back', recipients_lists_path %>
