<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipients_list.name %>
</p>

<p>
  <strong>List Recipients:</strong>
</p>

<%= render 'recipients_form', recipients: @recipients_list.recipients %>

<%= link_to 'Edit', edit_recipients_list_path(@recipients_list) %> |
<%= link_to 'Back', recipients_lists_path %>
